<form id="theripper-premium-hub">
    <ol>
        {{#each this}}
        <li>
            <h2>{{title}}</h2>
            <div class="form-group slim">
                <label>Version: {{currentVersion}} → {{version}}</label>
                <a href="{{downloadURL}}" target="_blank" rel="nofollow" title="{{downloadURL}}"><i
                        class="fas fa-cloud-download-alt"></i> Download</a>
            </div>
        </li>
        {{/each}}
    </ol>
</form>